%title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

%title-2 {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

%subtitle {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

%text {
  font-weight: 700;
  font-size: 16px;
  line-height: 176%;
  text-align: center;
  letter-spacing: 0.04em;
}

%subtext {
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.04em;
}

%main-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  text-align: center;
}
