<section class="gallery">
    <!-- <div class="container">
        <img src="./images/Galery/1xgaleryPK-min.png" alt="gallery">
    </div> -->

    <ul class="galery__list">        
        <li class="galery__item1" >
           
            <!-- <img src="./images/galery.img-list/ice-cream1.jpg" alt="picture" width="300px" > -->
        </li>    
        <li class="galery__item2" >                
            <!-- <img src="./images/galery.img-list/ice-cream2.jpg" alt="picture" width="300px" > -->
        </li>
        <li class="galery__item3" >
            
            <!-- <img src="./images/galery.img-list/ice-cream3.jpg" alt="picture" width="300px" > -->
        </li>
        <li class="galery__item-gif" >
           
            <!-- <img src="./images/galery.img-list/ice cream.gif.mp4" alt="picture" width="500px" > -->
        </li>
        <li class="galery__item4" >
           
            <!-- <img src="./images/galery.img-list/ice-cream4.jpg" alt="picture" width="300px" > -->
        </li>
        <li class="galery__item5" >
           
            <!-- <img src="./images/galery.img-list/ice-cream5.jpeg" alt="picture" width="300px" > -->
        </li>
        <li class="galery__item6" >
           
            <!-- <img src="./images/galery.img-list/ice-cream6.jpg" alt="picture" width="300px" > -->
        </li>
        <li class="galery__item7" >
           
            <!-- <img src="./images/galery.img-list/ice cream7.jpg" alt="picture" width="300px" > -->
        </li>
        <li class="galery__item8" >
           
            <!-- <img src="./images/galery.img-list/ice-cream8.webp" alt="picture" width="300px" > -->
        </li>
        <li class="galery__item9" >
           
            <!-- <img src="./images/galery.img-list/ice-cream9.jpg" alt="picture" width="500px" > -->
        </li>
    </ul>
</section>