<section class="gallery">
  <div class="container">
    <!-- <img src="./images/Galery/1xgaleryPK-min.png" alt="gallery"> -->

    <ul class="galery__list">
      <li class="galery__item">
        <img
          src="./images/gallery/ice-cream1.jpg"
          alt="picture"
          width="200px"
        />
      </li>
      <li class="galery__item">
        <img
          src="./images/gallery/ice-cream2.jpg"
          alt="picture"
          width="200px"
        />
      </li>
      <li class="galery__item">
        <img
          src="./images/gallery/ice-cream1.jpeg"
          alt="picture"
          width="200px"
        />
      </li>
      <li class="galery__item-gif">
        <img
          src="./images/gallery/ice-cream4.jpg"
          alt="picture"
          width="100px"
        />
      </li>
      <li class="galery__item">
        <img
          src="./images/gallery/ice-cream5.jpeg"
          alt="picture"
          width="200px"
        />
      </li>
      <li class="galery__item">
        <img
          src="./images/gallery/ice-cream6.jpg"
          alt="picture"
          width="200px"
        />
      </li>
      <li class="galery__item">
        <img
          src="./images/gallery/ice-cream7.jpg"
          alt="picture"
          width="200px"
        />
      </li>
      <li class="galery__item">
        <img
          src="./images/gallery/ice-cream8.webp"
          alt="picture"
          width="200px"
        />
      </li>
      <li class="galery__item">
        <img
          src="./images/gallery/ice-cream9.jpg"
          alt="picture"
          width="200px"
        />
      </li>
      <li class="galery__item">
        <img
          src="./images/gallery/ice-cream3.jpg"
          alt="picture"
          width="200px"
        />
      </li>
    </ul>
  </div>
</section>
