<header class="header" id="header">
    <div class="container">
        <nav class="header__nav" data-aos="fade-down" data-aos-duration="800">                
            <div class="header__logo" >
                <img src="./images/logo/logo 2xlogoPK-min.png" alt="">
            </div>
            <ul class="header__list">
                <li class="header__item">
                    <a class="header__link active-page" href="#">Home</a>
                </li>
                <li class="header__item" >
                    <a class="header__link" href="#">About us<a>
                </li>

                <li class="header__item" >
                    <a class="header__link" href="#tradition">How it’s made?</a>
                </li>

                <li class="header__item" >
                   <a class="header__link" href="#products">Our products</a>
                </li>

                <li class="header__item" >
                    <a class="header__link" href="#footer">Contact</a>                       
                </li>
            </ul>
            <button data-open-modal type="button" class="btn header__burger btn-primary">
                <svg  width="20px" height="12px">
                    <use href="./images/symbol-defs.svg#icon-Burger"></use>
                </svg>
            </button>
            
            <button data-open-modal class="header__button" type="button">Buy now<span class="location-button__span">></span></button>
        </nav>
    </div>
</header>