<header class="header" >
    <div class="container">
        <nav class="header__nav" >                
            <div class="header__logo" >
                <img src="./images/logo/logo 2xlogoPK-min.png" alt="">
            </div>
            <ul class="header__list">
                <li class="header__item">
                    <a class="header__link" >Home</a>
                </li>
                <li class="header__item" >
                    <a class="header__link">About us<a>
                </li>

                <li class="header__item" >
                    <a class="header__link">How it’s made?</a>
                </li>

                <li class="header__item" >
                   <a class="header__link">Our products</a>
                </li>

                <li class="header__item" >
                    <a class="header__link">Contact</a>                       
                </li>
            </ul>
            <button data-open-modal type="button" class="btn header__burger btn-primary">
                <svg  width="20px" height="12px">
                    <use href="./images/symbol-defs.svg#icon-Burger"></use>
                </svg>
            </button>
            
            <button class="header__button" type="button">Buy now<span class="location-button__span">></span></button>
        </nav>
        <div data-backdrop is-hidden class="backdrop is-hidden">
            <form class="modal">
                <button data-close-modal class="header__close">
                    <img src="./images/close.svg" alt="">
                    <button class="menu__button">Buy now ></button>
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a class="menu__link" href="#">Home</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">About us</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">How it’s made?</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Our products</a>
                        </li>
                        <li class="menu__item">
                            <a class="menu__link" href="#">Contact</a>
                        </li>
                    </ul>
                </button>
            </form>
        </div>
    </div>
    <script>

      const refs = {
        openModalBtn: document.querySelector("[data-open-modal]"),
        closeModalBtn: document.querySelector("[data-close-modal]"),
        backdrop: document.querySelector("[data-backdrop]"),
      };

      refs.openModalBtn.addEventListener("click", toggleModal);
      refs.closeModalBtn.addEventListener("click", toggleModal);

      refs.backdrop.addEventListener("click", logBackdropClick);

      function toggleModal() {
        refs.backdrop.classList.toggle("is-hidden");
      }

      function logBackdropClick() {
        console.log("Це клік в бекдроп");
      }
    </script>
</header>