<header>
    <div class="container sm" >
        <nav class="header__naw" >                
            <div class="header__logo" >
            </div>

            <ul class="header__list-page" >
                <li class="header__item">
                    <a class="header__link" >Home</a>
                </li>
                <li class="header__item" >
                    <a class="header__link">About us<a>
                </li>

                <li class="header__item" >
                    <a class="header__link">How it’s made?</a>
                </li>

                <li class="header__item" >
                   <a class="header__link">Our products</a>
                </li>

                <li class="header__item" >
                    <a class="header__link">Contact</a>                       
                </li>
            </ul>
        </nav>
        <button class="header__button" type="button">Buy now</button>
    </div>
</header>