<section class="hero">
  <div class="container">
    <div class="hero__box">
      <h1 class="hero__title">icecream made with</h1>
      <h1 class="hero__pasion">passion</h1>
      <ul class="hero__list">
        <li class="hero__item">
          <button class="hero-products__button">Products</button>
        </li>
        <li class="hero__item">
          <button class="made__button">How it’s made?</button>
        </li>
      </ul>
    </div>
    <div class="hero__elipce"></div>
    <!-- <picture>
      <source
        srcset="
          ./images/heromilk/1xheromilktablet-min.png,
          ./images/heromilk/2xheromilktablet-min.png
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/heromilk/2xheromilkPK-min.png"
        media="(min-width: 1200px)"
      /> -->
    <div class="hero__milkbox">
      <img src="./images/heromilk/1xheromilkPK-min.png" alt="hero-milk" />
      <!-- </picture> -->
      <ul class="milk__list">
        <li>
          <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et
          </p>
        </li>
        <li class="milk__item"><img width="26px" height="26px" src="./images/arrow-right.png" alt=""></li>
      </ul>
      
      
    </div>
    <!-- <picture>
      <source
        srcset="
          ./images/heroIceCream/1xIceCreamtel-min.png,
          ./images/heroIceCream/2xIceCreamtel-min.png
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="./images/heroIceCream/2xIceCreamPK-min.png"
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/heroIceCream/1xIceCreamtablet-min.png,
          ./images/heroIceCream/2xIceCreamtablet-min.png
        "
        media="(min-width: 768px)"
      /> -->
    <img class="hero__icecream" src="./images/heroIceCream/1xIceCreamPK-min.png" alt="hero-icecream" />
    <!-- </picture> -->
    <div class="hero__numbers">
    <span class="hero__number">16</span>
    <p class="about__number">cafes</p>
    <span class="hero__number">23</span>
    <p class="about__number">food trucks</p>
  </div>
    <!-- <picture>
      <source
        srcset="
          ./images/Tasty/1xTastytablet-min.png,
          ./images/Tasty/2xTastytablet-min.png
        "
        media="(min-width: 768px)"
      />
      <source
      srcset="./images/Tasty/2xTastyPK-min.png"
      media="(min-width: 1200px)"
    /> -->
    <img class="tasty" src="./images/Tasty/1xTastyPK-min.png" alt="Tasty" />
    <!-- </picture> -->
  </div>
</section>
