<section class="hero">
  <div class="container">
    <h1 class="hero__title">icecream made with passion</h1>
    <button class="hero-products__button">Products</button>
    <button class="made__button">How it’s made?</button>
    <!-- <picture>
      <source
        srcset="
          ./images/heromilk/1xheromilktablet-min.png,
          ./images/heromilk/2xheromilktablet-min.png
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/heromilk/2xheromilkPK-min.png"
        media="(min-width: 1200px)"
      /> -->
      <img src="./images/heromilk/1xheromilkPK-min.png" alt="hero-milk" />
    <!-- </picture> -->
    <p class="hero__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <!-- <picture>
      <source
        srcset="
          ./images/heroIceCream/1xIceCreamtel-min.png,
          ./images/heroIceCream/2xIceCreamtel-min.png
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="./images/heroIceCream/2xIceCreamPK-min.png"
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/heroIceCream/1xIceCreamtablet-min.png,
          ./images/heroIceCream/2xIceCreamtablet-min.png
        "
        media="(min-width: 768px)"
      /> -->
    <img src="./images/heroIceCream/1xIceCreamPK-min.png" alt="hero-icecream" />
    <!-- </picture> -->
    <span class="hero__number">16</span>
    <p class="about__number">cafes</p>
    <span class="hero__number">23</span>
    <p class="about__number">food trucks</p>
    <!-- <picture>
      <source
        srcset="
          ./images/Tasty/1xTastytablet-min.png,
          ./images/Tasty/2xTastytablet-min.png
        "
        media="(min-width: 768px)"
      />
      <source
      srcset="./images/Tasty/2xTastyPK-min.png"
      media="(min-width: 1200px)"
    /> -->
    <img src="./images/Tasty/1xTastyPK-min.png" alt="Tasty" />
    <!-- </picture> -->
  </div>
</section>