<section class="interview">
  <div class="container">
    <img
      class="quotes"
      width="54px"
      height="40px"
      src="./images/“quotes.png"
      alt=""
    />
    <img
      class="interview__girl"
      src="./images/curlyGirl/1xcurlyGirlPK-min.png"
      alt="picture"
    />
    <h3 class="intervew__text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </h3>
    <div class="underline-first"></div>
    <div class="underline-thirth "></div>
    <div class="underline-second"></div>
    <p class="intervew_description">Emily, Los Angeles</p>
  </div>
</section>