<section class="location">
    <div class="container">
        <ul class="location__list" >
            <li class="location__card">
                <h3 class="location__card-titl">CAFE</h3>
                <div class="location__city">
                    <h3 class="location__city-name" >Chicago</h3>
                    <p class="location__city-description" >Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="location-schedule">
                    <ul class="schedule__list">
                        <li class="schedule__item" >
                            <h3 class="schedule__titl">Monday - Friday</h3>
                            <p class="schedule__discription">06:00 AM - 10:00 PM</p>
                        </li>

                        <li class="schedule__item">
                            <h3 class="schedule__titl">Saturday - Sunday</h3>
                            <p class="schedule__discription">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="location-address">
                    <ul class="address__list" >
                        <li class="address__item">
                            <a class="address__link" >+61(0) 383 766 284</a>
                        </li>
                        <li class="address__item">
                            <a class="address__link" >noreply@envato.com</a>                             
                        </li>
                    </ul>
                </div>
            </li>

            <li class="location__card">
                <h3 class="location__card-food-titl">FOOD TRUCK</h3>
                <div class="location__city">
                    <h3 class="location__city-name" >Los Angeles</h3>
                    <p class="location__city-description" >Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="location-schedule">
                    <ul class="schedule__list">
                        <li class="schedule__item" >
                            <h3 class="schedule__titl">Monday - Friday</h3>
                            <p class="schedule__discription">06:00 AM - 10:00 PM</p>
                        </li>

                        <li class="schedule__item">
                            <h3 class="schedule__titl">Saturday - Sunday</h3>
                            <p class="schedule__discription">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="location-address">
                    <ul class="address__list" >
                        <li class="address__item">
                            <a class="address__link" >+61(0) 383 766 284</a>
                        </li>
                        <li class="address__item">
                            <a class="address__link" >noreply@envato.com</a>                             
                        </li>
                    </ul>
                </div>                
            </li>
            
            <li class="location__card">
                <h3 class="location__card-titl">CAFE</h3>  
                <div class="location__city">
                    <h3 class="location__city-name" >Chicago</h3>
                    <p class="location__city-description" >Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="location-schedule">
                    <ul class="schedule__list">
                        <li class="schedule__item" >
                            <h3 class="schedule__titl">Monday - Friday</h3>
                            <p class="schedule__discription">06:00 AM - 10:00 PM</p>
                        </li>

                        <li class="schedule__item">
                            <h3 class="schedule__titl">Saturday - Sunday</h3>
                            <p class="schedule__discription">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                </div>
                <div class="location-address">
                    <ul class="address__list" >
                        <li class="address__item">
                            <a class="address__link" >+61(0) 383 766 284</a>
                        </li>
                        <li class="address__item">
                            <a class="address__link" >noreply@envato.com</a>                             
                        </li>
                    </ul>
                </div>              
            </li>
        </ul>

    </div>
</section>