<section class="location">
    <div class="container">
      <ul class="location__list">
        <li class="location__card">
          <h3 class="location-card__title">CAFE</h3>
          <div class="location__box">
            <h3 class="location__town">Chicago</h3>
            <p class="location__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="location__border"></div>
          <div class="location__schedule">
            <ul class="schedule__list">
              <li class="schedule__item">
                <h3 class="schedule__title">Monday - Friday</h3>
                <p class="schedule__time">06:00 AM - 10:00 PM</p>
              </li>

              <li class="schedule__item">
                <h3 class="schedule__title">Saturday - Sunday</h3>
                <p class="schedule__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>
          <div class="location__border"></div>
          <div class="location__address">
            <ul class="address__list">
              <li class="address__item">
                <a class="address__link">+61(0) 383 766 284</a>
              </li>
              <li class="address__item">
                <a class="address__link">noreply@envato.com</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="location__card">
          <h3 class="location-card__title">FOOD TRUCK</h3>
          <div class="location__box">
            <h3 class="location__town">Los Angeles</h3>
            <p class="location__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="location__border"></div>
          <div class="location__schedule">
            <ul class="schedule__list">
              <li class="schedule__item">
                <h3 class="schedule__title">Monday - Friday</h3>
                <p class="schedule__time">06:00 AM - 10:00 PM</p>
              </li>

              <li class="schedule__item">
                <h3 class="schedule__title">Saturday - Sunday</h3>
                <p class="schedule__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>
          <div class="location__border"></div>
          <div class="location__address">
            <ul class="address__list">
              <li class="address__item">
                <a class="address__link">+61(0) 383 766 284</a>
              </li>
              <li class="address__item">
                <a class="address__link">noreply@envato.com</a>
              </li>
            </ul>
          </div>
        </li>

        <li class="location__card">
          <h3 class="location-card__title">CAFE</h3>
          <div class="location__New York">
            <h3 class="location__town">New York</h3>
            <p class="location__description">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="location__border"></div>
          <div class="location__schedule">
            <ul class="schedule__list">
              <li class="schedule__item">
                <h3 class="schedule__title">Monday - Friday</h3>
                <p class="schedule__time">06:00 AM - 10:00 PM</p>
              </li>

              <li class="schedule__item">
                <h3 class="schedule__title">Saturday - Sunday</h3>
                <p class="schedule__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
          </div>
          <div class="location__border"></div>
          <div class="location__address">
            <ul class="address__list">
              <li class="address__item">
                <a class="address__link">+61(0) 383 766 284</a>
              </li>
              <li class="address__item">
                <a class="address__link">noreply@envato.com</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="buttons__list">
        <li class="buttons__item">
          <button class="location__button">
            Our Locations <span class="location-button__span">></span> 
          </button>
        </li>
        <li class="buttons__item">
          <button class="franchise__button">
            Franchise
            <span class="location-button__span">></span>
          </button>
        </li>
      </ul>
    </div>
  </section>