<div data-backdrop is-hidden class="backdrop is-hidden">
    <form class="modal">
        <button data-close-modal class="header__close">
            <img src="./images/close.svg" alt="">
            <button class="menu__button">Buy now ></button>
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link" href="#">Home</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">About us</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">How it’s made?</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Our products</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Contact</a>
                </li>
            </ul>
        </button>
    </form>
</div>

<script src="../js/burger.js" ></script>