<div data-backdrop is-hidden class="backdrop is-hidden">
    <form class="modal">
        <button data-close-modal class="header__close">
            <img src="./images/close.svg" alt="">
            <button class="menu__button">Buy now ></button>
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link" href="#">Home</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">About us</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">How it’s made?</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Our products</a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">Contact</a>
                </li>
            </ul>
        </button>
    </form>
</div>


<div backdrop-data class="backdrop is-hidden">
    <form class="modal">
<h2 class="modal__title">Залишайте свій номер, ми Вам зателефонуємо</h2>

  <ul class="modal-list">
    <li class="modal-list__link">
      <label required class="modal-list__titl">Імя</label>
      <br />
        <input required class="modal-list__input" type="text" />
    </li>

    <li class="modal-list__link">
      <label class="modal-list__titl">Телефон</label>
      <br />
        <input required class="modal-list__input" type="text" />
    </li>

    <li class="modal-list__link">
      <label for="mail" class="modal-list__titl">Пошта</label>
      <br />
        <input required class="modal-list__input" type="text" />
    </li>

    <li>
      <label for="coment" class="modal__comments">Коментарі</label>
      <textarea name="coment" cols="30" rows="4" class="modal__textarea"></textarea>
    </li>
  </ul>

  <div class="modal__section-chekmark">
    <div class="modal__checkbox">
      <input type="checkbox" />
    </div>
    <a class="modal__text-checkmark">Погоджуюсь з розсилкою і приймаю 
        <span class="modal__span-chekmark">Умови договору</span>
    </a>
  </div>
  <button class="modal__button" type="submit">Замовити</button>
</form>
</div>