<section class="products" id="products">
  <div class="container">
    <h3 class="products__firstname">100% natural</h3>
    <h2 class="products__title">products</h2>
    <ul class="products__list" data-aos="zoom-in" data-aos-duration="1000">
      <li class="products__item">
        <img
          src="./images/IceCream/2xIceCreamtel-min.png"
          alt=""
          class="products__img"
        />
        <h3 class="products__name">ice cream</h3>
        <p class="product__slider">...</p>
        <p class="product__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products__button">
          <img
            width="40px"
            height="40px"
            src="./images/arrow-right.png"
            alt=""
            class="arrow-right__img"
          />
        </button>
      </li>
      <li class="products__item">
        <img
          src="./images/IceCoffee/2xIceCoffeetel-min.png"
          alt=""
          class="products__img"
        />
        <h3 class="products__name">ice coffee</h3>
        <p class="product__slider">...</p>
        <p class="product__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products__button">
          <img
            width="40px"
            height="40px"
            src="./images/arrow-right.png"
            alt=""
            class="arrow-right__img"
          />
        </button>
      </li>
      <li class="products__item">
        <img
          src="./images/MilkShakes/2xMilkShaketel-min.png"
          alt=""
          class="products__img"
        />
        <h3 class="products__name">milkshakes</h3>
        <p class="product__slider">...</p>
        <p class="product__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <button class="products__button">
          <img
            width="40px"
            height="40px"
            src="./images/arrow-right.png"
            alt=""
            class="arrow-right__img"
          />
        </button>
      </li>
    </ul>
  </div>
</section>
