<section class="products">
  <div class="container">
    <h3 class="products__firstname">100% natural</h3>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <img src="./images/IceCream/2xIceCreamtel-min.png" alt="" />
        <h3 class="products__name">ice cream</h3>
        <span class="product__slider">...</span>
        <p class="product__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <img width="40px" height="40px" src="./images/arrow-right.png" alt="" />
      </li>
      <li class="products__item">
        <img src="./images/IceCoffee/2xIceCoffeetel-min.png" alt="" />
        <h3 class="products__name">ice coffee</h3>
        <span class="product__slider">...</span>
        <p class="product__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <img width="40px" height="40px" src="./images/arrow-right.png" alt="" />
      </li>
      <li class="products__item">
        <img src="./images/MilkShakes/2xMilkShaketel-min.png" alt="" />
        <h3 class="products__name">milkshakes</h3>
        <span class="product__slider">...</span>
        <p class="product__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <img width="40px" height="40px" src="./images/arrow-right.png" alt="" />
      </li>
    </ul>
  </div>
</section>
