<section class="tradition">
  <div class="container">
    <h2 class="tradition__firsttitle">tradition and love</h2>
    <h2 class="tradition__title">how it’s made?</h2>
    <img src="./images/COW/2xCOWtel-min.png" alt="" />
    <div class="tradition__box">
      <p class="box__description1">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
        cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
        justo fringilla.
      </p>
      <p class="box__description2">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
        Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
        suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
        tincidunt.
      </p>
      <p class="box__description3">Aliquam erat volutpat. Aenean accumsan.</p>
      <button class="tradition__button" type="button">
        Read more
        <svg width="4.43" heigth="8">
          <use href="./images/symbol-defs.svg#icon-arrov-1"></use>
        </svg>
      </button>
      <ul class="tradition__list">
        <li class="tradition__item">
          <img class="tradition__svg" src="./images/bucket.svg" alt="" />
          <h3 class="tradition__name">721</h3>
          <p class="tredision__carddescription">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="tradition__item">
            <img class="tradition__svg" src="./images/apples.svg" alt="" />
            <h3 class="tradition__name">16kg</h3>
            <p class="tredision__carddescription">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
          <li class="tradition__item">
            <img class="tradition__svg" src="./images/heart.svg" alt="" />
            <h3 class="tradition__name">84</h3>
            <p class="tredision__carddescription">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
      </ul>
    </div>
  </div>
</section>
