.footer {
  padding-bottom: 25px;
  background-color: $section-color;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    // background-image: linear-gradient(to bottom, #fff 20%, #fff5f6 80%);
    padding-bottom: 10px;
  }
}

.footer__firsttitle {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffa5ba;
  // margin-right: 80px;
  max-width: 250px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
    max-width: 500px;
    margin-bottom: 15px;
  }
}

.footer__title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $dark-color;
  max-width: 220px;
  text-align: left;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
    max-width: 480px;
  }
}

.footer__box {

  @media screen and (min-width: 768px){
  }

  @media screen and (min-width: 1200px){
    margin-left: 800px;
    margin-top: -100px;
  }
}

.footer-icon__list {
  display: flex;
  gap: 29px;
  margin-top: 43px;
  justify-content: flex-end;
  margin-bottom: 46px;

  @media screen and (min-width: 768px){
  }

  @media screen and (min-width: 1200px){
    display: flex;
    gap: 25px;
    margin-bottom: 50px;
    justify-content: flex-end;
  }
}

.footer__icon {
  fill: $light-color;
  background-color: $base-color;
  padding: 7px;
  border-radius: 50px;
    display: flex;
}

.footer__contact {
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  color: $text-color;
  display: flex;
  justify-content: flex-end;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer-span__tel {
    font-weight: 700;
font-size: 12px;
line-height: 186%;
color: $dark-color;

  @media screen and (min-width: 768px){
}

@media screen and (min-width: 1200px){
    font-size: 16px;
    letter-spacing: 0.02em;
}

}

.footer__border {
  border: 1px solid #e1e1e1;
  width: 100vw;
  margin-top: 43px;

  @media screen and (min-width: 768px){
  }

  @media screen and (min-width: 1200px){
    margin-top: 97px;
  }
}

.footer-company__text {
    font-weight: 700;
font-size: 14px;
line-height: 152%;
color: $adress-color;
margin-top: 22px;
max-width: 150px;
margin-left: auto;
margin-right: auto;

  @media screen and (min-width: 768px){
}

@media screen and (min-width: 1200px){
    line-height: 186%;
    margin-top: 10px;
    text-align: center;
    max-width: 300px;
}

}

.footer__link {
  fill: #e1e1e1;
}
