.footer {
  padding-bottom: 25px;
  background-color: #fff5f6;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    // background-image: linear-gradient(to bottom, #fff 20%, #fff5f6 80%);
    padding-bottom: 10px;
  }
}

.footer__span {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-right: 80px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
}

.footer__title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  max-width: 234px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
    max-width: 480px;
  }
}

.footer__box {
  margin-left: 800px;
  margin-top: -100px;
}

.footer-icon__list {
  display: flex;
  gap: 25px;
  margin-bottom: 50px;
}

.footer__icon {
  fill: $light-color;
  background-color: $base-color;
  padding: 7px;
  border-radius: 50px;
    display: flex;
}

.footer__contact {
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  color: #000000;
  margin-top: 46px;
  margin-left: auto;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    letter-spacing: 0.02em;
    margin-left: 810px;
  }
}

.footer-span__tel {
    font-weight: 700;
font-size: 12px;
line-height: 186%;
color: #d41443;

  @media screen and (min-width: 768px){
}

@media screen and (min-width: 1200px){
    font-size: 16px;
    letter-spacing: 0.02em;
}

}

.footer__border {
  border: 1px solid #e1e1e1;
  width: 100vw;
  margin-top: 97px;
}

.footer-company__text {
    font-weight: 700;
font-size: 14px;
line-height: 152%;
color: #907E82;
margin-top: 22px;
max-width: 150px;
margin-left: auto;
margin-right: auto;

  @media screen and (min-width: 768px){
}

@media screen and (min-width: 1200px){
    line-height: 186%;
    margin-top: 10px;
    text-align: center;
}

}

.footer__link {
  fill: #e1e1e1;
}
