.gallery{
    background-image: linear-gradient(to bottom, $section-color 40%, $light-color 0%);
}

.galery__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

// .galery__item{
//     border-radius: 24px;
// }

.gallery__box{
    border-radius: 25px;
}