.header {
  background-color: transparent;
  position: absolute;
  top: 50px;
  left: 46px;
  z-index: 1;
  @media screen and (max-width:767px) {
    left: 0;
    top: 6px;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width:767px) {
    width: 100%;
  }
}

.header__logo {
  width: 200px;
  
}

.header__list {
  display: flex;
  gap: 35px;
  margin-left: 110px;
  margin-right: 110px;
  @media screen and (max-width:767px) {
    display: none;
  }
}

.header__link {
  color: $light-color;
  transition: color;
  transition-duration: 250ms;
  transition-delay: 50ms;

  &:hover {
    color: $dark-color;
  }
}

.header__button {
  background: $light-color;
  border-radius: 22px;
  color: $light-color;
  border: none;
  color: $dark-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 159px;
  height: 44px;
  padding-left: 37px;
  @media screen and (max-width:767px) {
    display: none;
  }
}

.header__button-color {
  color: $dark-color;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}


.header__burger{
  background-color: transparent;
  border: none;
  display: none;
  @media screen and (max-width:767px) {
    margin-left: auto;
    display: block;
  }
}

.backdrop{
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 300ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal{
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);
 width: 100%;
 height: 502px;
background: #E17992;
 filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
position: relative;
padding-top: 23px;
padding-right: 28px;
}

.header__close{
  padding: 0;
  
  width: 14px;
  height: 14px;
  margin-left: auto;
  display: block;
  border: none;
  background-color: transparent;
}

.menu__button{
  width: 209px;
height: 44px;
background: #FFFFFF;
border-radius: 22px;
border: none;
color: #D41443;
margin-left: auto;
margin-right: auto;
display: block;
margin-top: 23px;
font-weight: 700;
font-size: 16px;
line-height: 1.31;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
color: #D41443;

}

.menu__list{
  margin-top: 19px;
}

.menu__item{
  border-top: 1px solid #E18298;
  padding-top: 13px;
  margin-top: 12px;
  padding-left: 21px;
}

.menu__link{
  font-weight: 700;
font-size: 14px;
line-height: 1.28;
color: #FFFFFF;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), 400ms cubic-bezier(0.4, 0, 0.2, 1);

}

.menu__item:last-child{
  border-bottom: 1px solid #E18298;
  padding-bottom: 14px;
}

.menu__item:hover .menu__link{
  color: #D41443;
}

.backdrop.is-hidden{
  display: none;
}