// <<<<<<< intervew-style
// >>>>>>> main
.hero {
  position: relative;
  overflow: hidden;
  background: $base-color;
  position: relative;
  padding-top: 70px;
  padding-bottom: 160px;

  @media screen and (min-width: 768px) {
    padding-top: 0px;
    padding-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 84px;
    padding-bottom: 30px;
  }
}

.hero .container {
  padding-left: 30px;
  position: relative;
}

.hero__box {
  width: 277px;
  z-index: 1;
  position: relative;
}

.hero__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $light-color;
  max-width: 218px;
  margin-top: 137px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 38px;
    max-width: 280px;
    margin-top: 84px;
  }
}

.hero__pasion {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 58px;
  line-height: 1.13;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $dark-color;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

.hero__list {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.hero-products__button {
  width: 62.4px;
  height: 24px;
  background: $dark-color;
  border-radius: 20px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  color: $light-color;
  // padding-left: 14px;
  // padding-right: 10px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    width: 104px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28;
  }
}

.made__button {
  width: 82.8px;
  height: 24px;
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $dark-color;
  background: $light-color;
  border: none;
  border-radius: 20px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    width: 138px;
    height: 40px;
    font-size: 14px;
    line-height: 1.28;
  }
}

.hero__milkbox {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    width: 418px;
    align-items: center;
    margin-top: 66px;
  }

  @media screen and (min-width: 1200px) {
    width: 418px;
    display: flex;
    align-items: center;
    margin-top: 56px;
  }
}

.milk__button{
  border: none;
  background-color: transparent;
}

.hero__text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
  color: $light-color;
}

.hero__icecream {
  position: absolute;
  width: 171px;
  height: 410px;
  right: 32px;
  bottom: 0;
  // z-index: 2;
@media screen and (min-width:480px) {
  position: absolute;
  bottom: 0;
}
  @media screen and (min-width: 768px) {
    position: absolute;
    bottom: 0;
    left: 378px;
    // width: 143px;
    // height: 336px;
  }

  @media screen and (min-width: 1200px) {
    display: block;
    top: 105px;
    left: 650px;
    width: 236px;
    height: 557px;
  }
}

.hero__numbers {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    right: 97px;
    top: 137px;
    width: 74px;
  }
}

.hero__number {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 46px;
  line-height: 1.15;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $dark-color;
}

.about__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $light-color;
}
.tasty {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    bottom: -31;
    right: 0;
  }
}

.hero__elipce {
  width: 346px;
  height: 344px;
  background: #ffa5ba;
  border-radius: 50%;
  overflow: hidden;
  // z-index: 1;
  position: absolute;
  top: 83px;
  // right: -50;
  left: 170px;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 307px;
    width: 324px;
height: 322px;
  }

  @media screen and (min-width: 1200px) {
    width: 538px;
    height: 538px;
    top: 50px;
    left: 550px;
  }
}

.milk__item {
  margin-top: 20px;
}
