.interview {
  padding-top: 223px;
  text-align: center;
  justify-content: center;
  position: relative;
}

.interview .container {
  position: relative;
}

.interview__girl {
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.intervew__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 255%;
  text-align: center;
  color: $text-color;
  padding-top: 43px;
  padding-left: 57px;
  padding-right: 66px;
  padding-bottom: 26px;
  background: #fafafa;
  max-width: 270px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.81;
    letter-spacing: 0.04em;
    padding-top: 47px;
    padding-left: 87px;
    padding-right: 89px;
    padding-bottom: 39px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
}

.intervew_description {
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  color: $text-color;
  margin-top: 18px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 20px;
    line-height: 1.85;
    text-align: center;
    margin-top: 15px;
  }
}

.quotes {
  position: absolute;
  top: 132px;
  left: 175px;
}

.underline-first {
  position: absolute;
  height: 2px;
  background: #e1e1e1;
  top: 175.5px;
  left: 59px;
  right: 54px;
}

.underline-second {
  position: absolute;
  height: 2px;
  background: #e1e1e1;
  top: 206px;
  left: 59px;
  right: 54px;
}
