.interview{
    padding-top: 223px;
    text-align: center;
    justify-content: center;
}

.interview__girl{
    width: 85px;
height: 85px;
margin-bottom: 15px;
display: block;
margin-left: auto;
margin-right: auto;
}

.intervew__text{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.81;
text-align: center;
letter-spacing: 0.04em;
text-decoration: underline #E1E1E1;
background: #FAFAFA;
padding-top: 47px;
padding-left: 87px;
padding-right: 89px;
padding-bottom: 39px;
color: #000000;
}

.intervew_description{
font-weight: 500;
font-size: 20px;
line-height: 1.85;
text-align: center;
color: #000000;
margin-top: 15px;
}