.products {
  padding-top: 127px;
  padding-bottom: 119px;
  @media screen and (max-width: 767px) {
    padding-bottom: 98px;
  }
}
.products__firstname {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $base-color;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
}

.products__title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.06em;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $dark-color;
  color: #d41443;
  margin-top: 15px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 55px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 66px;
  }
}

.products__list {
  display: flex;
  margin-top: 259px;
  gap: 150px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 144px;
    margin-top: 150px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 259px;
    gap: 24px;
    align-items: center;
    justify-content: center;
  }
}

.products__item {
  width: 329px;
  background: $base-color;
  background: #ffb8ca;
  border-radius: 24px;
  padding-bottom: 50px;
  padding-bottom: 40px;
  position: relative;
  padding-top: 150px;

  @media screen and (min-width: 768px) {
    padding-top: 120px;
    width: 220px;
  }

  @media screen and (min-width: 1200px) {
    width: 329px;
    padding-bottom: 50px;
    padding-top: 130px;
  }

  &:nth-child(2) {
    background: #f0d1a5;
  }

  &:nth-child(3) {
    background: #c2e297;
  }
}

.products__img {
  position: absolute;
  top: -26%;

  @media screen and (min-width: 768px) {
    top: -20%;
  }

  @media screen and (min-width: 1200px) {
    top: -38%;
  }
}

.products__name {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $light-color;
  margin-top: 38px;
  margin-bottom: 32px;
  color: #ffffff;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-family: 'Titan One';
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 34px;
    margin-top: 38px;
    margin-bottom: 32px;
  }
}

// .product__description::selection{
//   // color: #d41443;
//   background-color: #d4114d;
// }

.product__slider {
  font-family: 'Titan One';
  line-height: 34px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $light-color;
  color: #fff;
  text-align: center;
  font-size: 30px;
}

.product__description {
  font-weight: 700;
  font-size: 16px;
  line-height: 176%;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: $light-color;
  max-width: 241px;
  color: #ffffff;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  margin-bottom: 62px;
  margin-bottom: 30px;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    line-height: 176%;
    max-width: 198px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    max-width: 241px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 62px;
  }
}

.arrow-right__img {
  margin-left: auto;
  margin-right: auto;
}