.tradition {
  background-repeat: no-repeat;
  background-color: $section-color;
  padding-top: 125px;
  justify-content: center;
  padding-bottom: 97px;
  background-image: url(../images/bakMilk/1xbakmilkPK-min.png);
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-width: 768px) {
    padding-top: 130px;
    padding-bottom: 140px;
  }

  // @media screen and (min-width: 1200px) {
  // }
}

.tradition__flex {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.tradition__firsttitle {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.tradition__title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $dark-color;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 55px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
  }
}

.box__description1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: $text-color;
  margin-top: 26px;
  margin-bottom: 37px;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 176%;
    color: #000000;
    margin-bottom: 30px;
    max-width: 340px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    margin-bottom: 35px;
    max-width: 463px;
    margin-top: 0;
  }
}

.box__description2 {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: $adress-color;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
    max-width: 340px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.92;
    max-width: 463px;
  }
}
.box__description3 {
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: $adress-color;
  margin-top: 20px;
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
    max-width: 100%;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.92;
    margin-top: 30px;
    max-width: 463px;
  }
}

.tradition__button {
  width: 176px;
  height: 44px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: $dark-color;
  background: $light-color;
  border-radius: 22px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 21px;
    margin-left: 0;
    margin-top: 62px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 21px;
    margin-top: 45px;
    margin-left: 0;
  }
}

// .tradition__svg {
//   margin-right: 162px;
//   fill: #d41443;
// }

.tradition__box {
  margin-top: 26px;

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 74px;
    margin-top: 45px;
  }
}

.tradition__list {
  margin-top: 39px;
  gap: 38px;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 60px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
    margin-top: 146px;
    justify-content: center;
  }
}

.tradition__item {
  width: 350px;
  justify-content: center;
}

.tradition__name {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $dark-color;
  margin-top: 16px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 55px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.04em;
    text-align: left;
    color: $dark-color;
    margin-top: 40px;
  }
}

.tredition__carddescription {
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: $text-color;
  max-width: 230px;
  margin-top: 13px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 174%;
    max-width: 180px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
    margin-top: 15px;
    text-align: left;
    max-width: 330px;
  }
}

.tradition__container {
  display: block;
}

.tradition-cow__img {
  width: 280px;

  @media screen and (min-width: 768px) {
    width: 340px;
    flex-shrink: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 516px;
  }
}
