.scroll__link{
    position: fixed;
    bottom: 30px;
    right: 30px;
    all: unset;
    cursor: n-resize;
}


.scroll__arrov{
    background-color: $base-color;
    border: none;
    border-radius: 50%;
  }